.DS_Store
*.gem
nbproject
pkg
.LCK*
test_files.jar
skeleton/lib/java/monkeybars*
doc/*
media/website/output/*
build.xml
build/*
manifest.mf
nbbuild.xml
build/
dist/
package/
skeleton/lib/java/monkeybars-0.6.4.jar
media/website/heel-server.rb
media/website/public
#	outdated-examples/FlickrBrowser/lib/java/monkeybars-1.0.6.jar
#	outdated-examples/HelloMonkeybars/lib/java/monkeybars-1.0.6.jar
#	outdated-examples/Nested-DropIn/lib/java/monkeybars-1.0.6.jar
#	outdated-examples/Nested-Rows/lib/java/monkeybars-1.0.6.jar
#	outdated-examples/Nested-Simple/lib/java/monkeybars-1.0.6.jar
#	outdated-examples/jrubydiff/lib/java/monkeybars-1.0.6.jar

