.DS_Store
*.gem
nbproject
pkg
.LCK*
test_files.jar
skeleton/lib/java/monkeybars*
doc/*
media/website/output/*
build.xml
build/*
manifest.mf
nbbuild.xml
build/
dist/
package/
skeleton/lib/java/monkeybars-0.6.4.jar
